<div class="container">
    <h1>
        Welcome to {{ title }}
    </h1>
    <h4>Fun way to get repositories with your username.</h4>
    <form autocomplete="off">
        <ul class="row">
          <li class="row-inner">
              <input type="text" name="username" [(ngModel)]="username" placeholder="Enter username"
              (ngModelChange)="onUsernameChange()" (focus)="oldUsername = username">
              <button class="go_btn" [disabled]="!username" (click)="getRepoNameList()">Go</button>
              <button class="username_clear" [disabled]="!username" (click)="clearUsername(1)">Clear</button>
          </li>
          <li class="row-inner">
              <input type="text" name="searchKey" [(ngModel)]="searchKey" placeholder="Enter keywords to search repository Eg.angular">
              <button class="keywords_clear" [disabled]="!searchKey" (click)="searchKey = ''">Clear</button>
          </li>
        </ul>
    </form>
    <div id="filteredDiv" class="row">
        <div class="row-inner" *ngFor="let repo of repoNameList | filterdata : searchKey; trackBy: trackByFn">
          <span [innerHTML]="repo | highlighter: searchKey"></span>
        </div>
    </div>
    <div id="noRepository" class="row" *ngIf="reposNotFound">
        <div class="row-inner">
            <span>Empty Repository for {{username}}</span>
        </div>
    </div>
</div>

